/* CSS for the front end view */

.tfdon-give-to-h2 {
	padding-bottom: 10px;
	font-size: 26px;
	padding-left: 10px;
}

.tfdon-give-to-div {
	font-size: 14px;
	padding-left: 10px;
}

.tfdon-form {
	border: 0;
	display:inline-block;
	vertical-align:top;
}

/* .tfdon-form table tr {
	height: 25px;
} */

.tfdon-form tr td {
	border: 0px! important;
	padding-left: 0px! important;
}

/*
.tfdon-form h2 {
	font-size: 26px;
} 

.tfdon-form table {
	margin: 0;
	border: 0! important;
}  */

.tfdon-field {
	border: 1px solid #333! important;
	background-color:#eee ! important;
	padding: 15px! important;
	font-size: 15px! important;
	width: 100%! important;
}

.tfdon-admin input.wide, input.wide {
    width: 500px;
}